div{
    background-color: black;
    color: white;
    text-align: center;
    display: none;
}

@media screen and (max-width:300px) {
    #box1{
        display: block;
    }
}


@media (min-width:301px) and (max-width:700px) {
    #box2{
        display: block;
    }
}



@media (min-width:701px) and (max-width:1100px) {
    #box3{
        display: block;
    }
}


@media (min-width:1101px) and (max-width:1400px) {
    #box4{
        display: block;
    }
}